 .contact-us{
    height: 520px;
    width: 100%;
    background: url("../../../images/chair.png");
    position: relative;
    /* padding: 40px 0; */
}

.contact-us::before{
    height: 520px;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    background-color: #0b1825;
    opacity: 0.9;
}
.contact-form{
    position: relative;
    z-index: 11111;
}

